node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.nyc_output
*.swp
*.swo
*~
.DS_Store
test
.vscode
.idea
*.md
!README.md
docker-compose*.yaml
Dockerfile
docker-compose.test.yaml
*.spec.ts
*.test.ts
*.e2e-spec.ts
jest.config.*
tsconfig.*
eslint.*
.prettierrc
.git
.gitlab-ci.yml
.github
node_modules/.prisma/client
prisma/migrations